/** Pro icons **/

.fa-comments-alt {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/comments-alt.svg"
  );
}

.fa-square-arrow-up-right {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/square-arrow-up-right.svg"
  );
}

.fa-user-headset {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/user-headset.svg"
  );
}
