.fa-apple {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/apple.svg"
  );
}

.fa-android {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/android.svg"
  );
}

.fa-facebook {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/facebook.svg"
  );
}

.fa-facebook-f {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/facebook-f.svg"
  );
}

.fa-github {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/github.svg"
  );
}

.fa-linkedin {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/linkedin.svg"
  );
}

.fa-linkedin-in {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/linkedin-in.svg"
  );
}

.fa-linux {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/linux.svg"
  );
}

.fa-stack-overflow {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/stack-overflow.svg"
  );
}

.fa-x-twitter {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/x-twitter.svg"
  );
}

.fa-vimeo {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/vimeo.svg"
  );
}

.fa-vimeo-v {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/vimeo-v.svg"
  );
}

.fa-youtube {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/brands/youtube.svg"
  );
}
