.far.fa-address-book {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/address-book.svg"
  );
}

.far.fa-bookmark {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/bookmark.svg"
  );
}

.far.fa-calendar {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/calendar.svg"
  );
}

.far.fa-chart-bar {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/chart-bar.svg"
  );
}

.far.fa-clipboard {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/clipboard.svg"
  );
}

.far.fa-comment {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/comment.svg"
  );
}

.far.fa-copy {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/copy.svg"
  );
}

.far.fa-credit-card {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/credit-card.svg"
  );
}

.far.fa-star {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/star.svg"
  );
}

.far.fa-sun {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/regular/sun.svg"
  );
}
