.fas.fa-address-book {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/address-book.svg"
  );
}

.fas.fa-angle-down {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg"
  );
}

.fas.fa-angle-right {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg"
  );
}

.fas.fa-box {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/box.svg"
  );
}

.fas.fa-check {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/check.svg"
  );
}

.fas.fa-square-arrow-up-right {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/square-arrow-up-right.svg"
  );
}

.fas.fas.fa-circle-info {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-info.svg"
  );
}

.fas.fa-link {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/link.svg"
  );
}

.fas.fa-person-snowboarding {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/person-snowboarding.svg"
  );
}

.fas.fa-spinner {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/spinner.svg"
  );
}

.fas.fa-rotate {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/rotate.svg"
  );
}

.fas.fa-ticket {
  mask-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/ticket.svg"
  );
}
