.fas.fa-address-book {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/address-book.svg"
  );
}

.fas.fa-angle-down {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg"
  );
}

.fas.fa-angle-right {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg"
  );
}

.fas.fa-box {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/box.svg"
  );
}

.fas.fa-check {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/check.svg"
  );
}

.fas.fa-check-circle {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/check-circle.svg"
  );
}

.fas.fa-cog {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/cog.svg"
  );
}

.fas.fa-external-link-alt {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/external-link-alt.svg"
  );
}

.fas.fas.fa-info-circle {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/info-circle.svg"
  );
}

.fas.fa-link {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/link.svg"
  );
}

.fas.fa-snowboarding {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/snowboarding.svg"
  );
}

.fas.fa-spinner {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/spinner.svg"
  );
}

.fas.fa-sync {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/sync.svg"
  );
}

.fas.fa-ticket-alt {
  background-image: svg-load(
    "../node_modules/@fortawesome/fontawesome-free/svgs/solid/ticket-alt.svg"
  );
}
