.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fa-xs {
  height: 12px;
  width: 12px;
}

.fa-sm {
  height: 14px;
  width: 14px;
}

.fa-lg {
  height: 18px;
  width: 18px;
}

.fa-2x {
  height: 32px;
  width: 32px;
}

.fa-3x {
  height: 48px;
  width: 48px;
}

.fa-4x {
  height: 64px;
  width: 64px;
}

.fa-5x {
  height: 80px;
  width: 80px;
}

.fa-7x {
  height: 90px;
  width: 90px;
}

.fa-8x {
  height: 120px;
  width: 120px;
}

.fa-10x {
  height: 240px;
  width: 240px;
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
  margin-left: 0.3em;
}

:root .fa-flip-both,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270 {
  -webkit-filter: none;
  filter: none;
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}